<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="static/css/admin.css">
  	<link rel="stylesheet" href="static/css/main.css">
  	<link rel="stylesheet" href="static/css/table.css">
</head>
<body>


  <div class="logo">
   	<nav class="sitenav sitenav--nojs">
    <h2 class="visually-hidden">Sayt menyusi</h2>
    <div class="container sitenav__container">
      <div class="logo">
        <a class="logo__link" href="">
          <img class="logo__img logo__img--symbol" src="static/img/logo-mark.svg" alt="Najot Ta'lim logotipi" width="58"
            height="40">
          <img class="logo__img logo__img--text" src="static/img/logo-mark-text.svg" alt="Najot Ta'lim logotipi" width="155" height="33">
        </a>
      </div>
      <button class="sitenav__toggler" type="button">Menu</button>

      <div class="sitenav__collapse">
        <ul class="sitenav__list">
          <li class="sitenav__item"><a href="/courses" class="sitenav__link">Kurslar</a></li>
          <li class="sitenav__item"><a href="/team" class="sitenav__link">Jamoa</a></li>
          <li class="sitenav__item"><a href="#stats" class="sitenav__link">Biz haqimizda</a></li>
          <li class="sitenav__item"><a href="/blog" class="sitenav__link">Blog</a></li>
          <li class="sitenav__item"><a href="#results" class="sitenav__link">Natijalar</a></li>
          <li class="sitenav__item"><a href="#" class="sitenav__link">Kontaktlar</a></li>
          <li class="sitenav__item"><a href="/admin" class="sitenav__link">Admin</a></li>
        </ul>
 	 </nav>

	 	<img class="logo__img logo__img--text" id="image" src="static/img/logo-mark-text.svg" alt="Najot Ta'lim logotipi" width="500" height="200">
		<h1>Bu bet Najot Talim adminstratorlari uchun !</h1>	
	</div>


<table id="table"class="table table-bordered table-condensed table-striped">
  <tr>
    <th>id</th>
    <th>Ism Familiya</th>
    <th>Contact</th>
    <th>Kurs Turi</th>
    <th>Jonatilgan sanasi</th>
  </tr>
  <% for (let i of body) { %>
  <tr>
    <td><%= i.id %></td>	
    <td><%= i.full_name %></td>
    <td><%= i.phone_number %></td>
    <td><%= i.course_type %></td>
    <td><%= i.craeted %></td>
  </tr>
  <% } %>
</table>

  	<script src="static/js/scripts.min.js"></script>

</body>
</html>