<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration form</title>
	<link rel="stylesheet" href="static/css/post.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>

	<nav class="sitenav sitenav--nojs">
    <h2 class="visually-hidden">Sayt menyusi</h2>
    <div class="container sitenav__container">
      <div class="logo">
        <a class="logo__link" href="/">
          <img class="logo__img logo__img--symbol" src="static/img/logo-mark.svg" alt="Najot Ta'lim logotipi" width="58"
            height="40">
          <img class="logo__img logo__img--text" src="static/img/logo-mark-text.svg" alt="Najot Ta'lim logotipi" width="155" height="33">
        </a>
      </div>
      <button class="sitenav__toggler" type="button">Menu</button>

      <div class="sitenav__collapse">
        <ul class="sitenav__list">
          <li class="sitenav__item"><a href="/" class="sitenav__link">Home</a></li>
          <li class="sitenav__item"><a href="/courses" class="sitenav__link">Kurslar</a></li>
          <li class="sitenav__item"><a href="/team" class="sitenav__link">Jamoa</a></li>
          <li class="sitenav__item"><a href="#stats" class="sitenav__link">Biz haqimizda</a></li>
          <li class="sitenav__item"><a href="/blog" class="sitenav__link">Blog</a></li>
          <li class="sitenav__item"><a href="#results" class="sitenav__link">Natijalar</a></li>
          <li class="sitenav__item"><a href="/admin" class="sitenav__link">Admin</a></li>
        </ul>
        </ul>
  </nav>
  <div id="post">
		<h1> Siz ismni noto'gri kiritdingiz !</h1>
		<p> Iltimos ortga qaytib ismni to'g'irlang!</p>
		<img src="static/img/logo-mark-text.svg" alt="Najot talim logotipi">
	</div>
  <footer class="section site-footer">
    <div class="container">
      <section class="socials">
        <h3 class="visually-hidden">Ijtimoiy tarmoqlar</h3>
        <ul class="socials__list">
          <li class="socials__item">
            <a href="https://www.facebook.com/najottalim/" class="socials__link" target="_blank">
              <span class="visually-hidden">Facebook</span>
              <svg width="24" height="24">
                <use xlink:href="#facebook-logo"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://t.me/najottalim" class="socials__link" target="_blank">
              <span class="visually-hidden">Telegram</span>
              <svg width="24" height="24">
                <use xlink:href="#telegram-logo"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://www.youtube.com/najottalim" class="socials__link" target="_blank">
              <span class="visually-hidden">YouTube</span>
              <svg width="24" height="24">
                <use xlink:href="#youtube-logo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </section>

      <ul class="site-footer__links-list">
        <li class="site-footer__links-item"><a class="site-footer__link" href="/#stats">Biz haqimizda</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/courses">Kurslar</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/team">Jamoa</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/#learning-process">Ta'lim tizimi</a>
        </li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/blog">Blog</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="#">Kontaktlar</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="#">Yordam</a></li>
      </ul>

      <p class="site-footer__copyright">Copyright 2017-2020 NT Ltd. Designer_A & Backend Developer. All rights reserved.</p>
    </div>
  </footer>


  <!-- MODALS -->
  <section class="modal">
    <h2 class="visually-hidden">YouTube modal oynasi</h2>
    <div class="modal__dialog modal__dialog--youtube">
      <button class="modal__close-button" type="button">&times;</button>
      <div class="embed-responsive">
        <iframe class="modal__youtube-iframe embed-responsive__iframe" width="560" height="315" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
	
</body>
</html>