<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log in </title>
  	<link rel="stylesheet" href="static/css/main.css">
	<link rel="stylesheet" href="static/css/admin.css">
</head>
<body>

<div class="logo">
	 	<img class="logo__img logo__img--text" id="image" src="static/img/logo-mark-text.svg" alt="Najot Ta'lim logotipi" width="500" height="200">
		<h1>Bu bet Najot Talim adminstratorlari uchun !</h1>

		<section class="registration" id="registration">
      	<div class="container registration__container">     
       	 <form class="registration-form" method="POST" action="/login">
          <h2 class="registration-form__heading">Admin</h2>
          <p class="registration-form__text">Royxatdan otgan talabalarni korish uchun login va parolni kiriting.</p>
          <p class="registration-form__group">
            <label class="visually-hidden" for="name-input-footer">Login</label>
            <input class="registration-form__field" id="name-input-footer" name="name" type="text" placeholder="Loginni kiriting" required>
          </p>
          <p class="registration-form__group">
            <label class="visually-hidden" for="phone-input-footer">Parol</label>
            <input class="registration-form__field" id="phone-input-footer" name="password" type="password"
              placeholder="Parolni kiriting" required>
          </p>
          <button class="button button--open" type="submit">
            <span class="button__wrapper">
              <span class="button__text">Saytga kiring</span>
              <svg class="button__arrow" aria-hidden="true" focusable="false" width="21" height="12">
                <use xlink:href="#arrow-right"></use>
              </svg>
            </span>
          </button>
        </form>
    </section>	
</div>

	<footer class="section site-footer">
    <div class="container">
      <section class="socials">
        <h3 class="visually-hidden">Ijtimoiy tarmoqlar</h3>
        <ul class="socials__list">
          <li class="socials__item">
            <a href="https://www.facebook.com/najottalim/" class="socials__link" target="_blank">
              <span class="visually-hidden">Facebook</span>
              <svg width="24" height="24">
                <use xlink:href="#facebook-logo"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://t.me/najottalim" class="socials__link" target="_blank">
              <span class="visually-hidden">Telegram</span>
              <svg width="24" height="24">
                <use xlink:href="#telegram-logo"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://www.youtube.com/najottalim" class="socials__link" target="_blank">
              <span class="visually-hidden">YouTube</span>
              <svg width="24" height="24">
                <use xlink:href="#youtube-logo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </section>
      <ul class="site-footer__links-list">
        <li class="site-footer__links-item"><a class="site-footer__link" href="/#stats">Biz haqimizda</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/courses">Kurslar</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/team">Jamoa</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/#learning-process">Ta'lim tizimi</a>
        </li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="/blog">Blog</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="#">Kontaktlar</a></li>
        <li class="site-footer__links-item"><a class="site-footer__link" href="#">Yordam</a></li>
      </ul>
      <p class="site-footer__copyright">Copyright 2017-2020 NT Ltd. Designer_A & Backend Developer. All rights reserved.</p>
    </div>
  </footer>	 
<script src="static/js/scripts.min.js"></script>
	
</body>
</html>